// ==============================
// Post content
// ==============================

.post-content {
  word-wrap: break-word;

  @for $i from 1 through 6 {
    h#{$i} {
      font-weight: 600;
      font-family: $global-serif-font-family;
    }
  }

  p > img {
    cursor: pointer;
  }

  h1 {
    border-bottom: 1px solid #ddd;
    margin-top: 2em;
  }

  h2 {
    // font-size: 1.6em;
    border-bottom: 1px solid #ddd;
    margin-top: 2em;
  }

  h3 {
    // font-size: 1.3em;
    margin-top: 1.5em;
  }

  a {
    color: $theme-color;
    word-break: break-all;

    &:hover {
      border-bottom: $content-link-border;
    }
  }

  blockquote {
    margin: 1em auto;
    padding: 0.2em 2em 0.2em 3em;
    color: #555555;
    background-color: #F6F6F6;
    border-left: 4px solid #999;
    position: relative;
    line-height: 1.6;
    font-family: Open Sans;

    &::before {
      font-family: Arial;
      content: "\201C";
      color: #999;
      font-size: 4em;
      position: absolute;
      left: 10px;
      top: -10px;
    }

    footer {
      color: #333333;
      margin-bottom: 1em;
    }

    cite:before {
      content: '\2014';
      padding-right: .3em;
      padding-left: .3em;
    }
  }

  iframe {
    margin: 0 auto;
    display: block;
    width: 100%;
  }

  > table {
   background-color: #fff;
   -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   -ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   -o-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   margin: 1em auto;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
   width: 75%;
   @include for-laptop-up {
 		width: 90%;
   }
   > thead {
     display: none;
     @include for-laptop-up {
       background-color: #ececec;
       display: table-header-group;
     }
   }
   > tbody {
     > tr {
       border-bottom: 1px solid #e0e0e0;
       @include for-laptop-up {
         &:nth-child(even) {
           background-color: #f4f4f4;
         }
         &:hover {
           background-color: rgba(46, 187, 170, .5);
         }
       }
       > td {
         display: block;
         text-align: right;
         @include for-laptop-up {
           display: table-cell;
           text-align: center;
         }
         &[data-header]:before {
           color: #757575;
           content: attr(data-header);
           float: left;
           font-size: inherit;
           font-weight: bold;
           @include for-laptop-up {
             display: none;
           }
         }
         &:first-child {
           background-color: #ececec;
           font-weight: bold;
           text-align: left;
           @include for-laptop-up {
             background-color: unset;
             text-align: center;
           }
           &:after {
             content: "\f078";
             float: right;
             font-family: "Font Awesome 5 Free";
             font-weight: 900;
             text-decoration: inherit;
             transition: all .3s;
             @include for-laptop-up {
               display: none;
             }
           }
         }
         &:not(:first-child) {
           border-bottom: 1px solid #e0e0e0;
           opacity: 0;
           position: absolute;
           -moz-transition: none;
           -ms-transition: none;
           -o-transition: none;
           -webkit-transition: none;
           transition: none;
           z-index: -1;
           @include for-laptop-up {
             border: 0;
             opacity: 100;
             position: relative;
             z-index: 0;
           }
         }
       }
       &.active > td {
         &:first-child {
           &:after {
             transform: rotateX(180deg);
           }
         }
         &:not(:first-child) {
           opacity: 1;
           position: relative;
           -webkit-transition: all 0.3s ease;
           -moz-transition: all 0.3s ease;
           -ms-transition: all 0.3s ease;
           -o-transition: all 0.3s ease;
           transition: all 0.3s ease;
           z-index: auto;
         }
         &:last-child {
           border-bottom: 0;
         }
       }
     }
   }
   > tfoot {
     display: none;
     @include for-laptop-up {
       display: table-footer-group;
     }
   }
   > thead > tr > th,
   > tbody > tr > th,
   > tfoot > tr > th,
   > thead > tr > td,
   > tbody > tr > td,
   > tfoot > tr > td {
     border: 0;
     padding: 0.5em;
   }
 } 

  @import 'code';

  .post-summary {
    margin-bottom: 1em;
  }

  .read-more {
    text-align: right;

    .read-more-link {
      color: $theme-color;
      font-size: 1.1em;
      font-family: $global-serif-font-family;

      &:hover {
        border-bottom: $post-readMore-border-bottom;
      }
    }
  }

  kbd {
    display: inline-block;
    padding: 0.25em;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-bottom-color: #b5b5b5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #b5b5b5;
    font-size: 0.8em;
    line-height: 1.25;
    font-family: "SFMono-Regular","Liberation Mono","Roboto Mono",Menlo,Monaco,Consolas,"Courier New",Courier,monospace;
    color: #4a4a4a;
  }

  dl dt::after {
    content: ':';
  }

  figure {
    a:hover{
      border: 0;
    }

    &.center {
      text-align: center;
    }

    figcaption {
      margin-top: 0.5em;
      text-align: center;
      line-height: 1.5em;

      h4 {
        color: #b5b5b5;
        // font-size: 0.9em;
        margin: 0;
      }

      p {
        font-size: 0.9em;
        color: #b5b5b5;
        font-style: italic;
        margin: 0;
      }
    }
  }

  .task-list {
    list-style: none;
    padding-left: 1.5rem;
  }

  .MJXc-display {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.header-link {
  margin-left: 0.5em;
  fill: currentColor;
  visibility: hidden;
}

.post-content-header:hover .header-link {
  visibility: visible;
}
